* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    ;
}

.banner {
    background-image: url(/images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    height: 669px;
}

.title {
    color: white;
    text-align: center;
    padding-top: 40px;
}

.head-t {
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    width: 826px;
    height: 158px;
    text-align: center;
    margin: 170px 307px;
    margin-top: 300px;
    margin-bottom: 0;

}

.head-dis {}

.btn-primary {
    color: white;
    background-color:
        #FF5959;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: 0;
    margin-top: 10px;

}

/* donate today */
.donate-t {
    color: black;
    text-align: center;
    padding-top: 150px;
    font-weight: 200;
    font-size: 20px;
}
.donate-dis{
    font-size: 15px;
    padding: 20px;
}
.button-taka{
    text-align: center;
}
.btn-primary2{
    color: rgb(144, 140, 140);
    background-color:
    #FAFAFA;
    font-weight: 700;
    font-size: 30px;
    padding: 20px 35px;
    border-radius: 5px;
    border: 0;
    margin-top: 10px;
    margin-left: 20px;
}
.btn-2{
    color: #FF5959;
    background-color:
    #FFEEEE;
    font-weight: 700;
    font-size: 30px;
    padding: 20px 35px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 20px;
    border-color: #FF5959;
}
.amount{
    text-align: center;
    color: #bbb8b8;
    border-bottom: solid rgb(183, 179, 179);
    padding-top: 20px;
    /* padding-bottom: 6px ; */
    margin: 0 50px;
}
/* plan */
.plan{
    text-align: center;
}
.plan-t{
    color: black;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    padding-top: 100px;
}
.plan-dis{
    font-size: 15px;
    padding: 20px;

}